{% extends 'layout.html' %}

{% block title %}
   Dashboard
{% endblock %}

{% block content %}
<div class="container">
    <h2>Bienvenido, {{ usuar.usuario }}</h2>

    <div class="module-list">
        <ul>
            <li><a href="/pedidos">Módulo de Pedidos</a></li>
            {% if current_user.rol.nombre == 'Administrativo' %}
                <li><a href="/empleados">Módulo de Empleados</a></li>
                <li><a href="/ventas">Módulo de Ventas</a></li>
                <li><a href="/clientes">Módulo de Clientes</a></li>
                <li><a href="/productos">Módulo de Productos</a></li>
                <li><a href="/categorias">Módulo de Categorías</a></li>
                <li><a href="/marcas">Módulo de Marcas</a></li>
            {% endif %}
        </ul>
    </div>
    
</div>
{% endblock %}
