<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Pedidos y Entregas {% endblock %} |  </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <hr/>
        <ul>
            <li>
                <a href="{{ url_for('home')}}">inicio</a>
            </li>
            <li>
                <a href="{{ url_for('login')}}">login</a>
            </li>
            {% if session.get('rol') == 'adminitrativo' %}
            <li>
                <a href="{{ url_for('crear_empleado')}}">Crear empleado</a>
            </li> 
            
            <li>
                <a href="{{ url_for('empleados')}}">Listado De Empleados</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('pedidos')}}">Pedidos</a>
            </li>
            
        </ul>
    <hr/>

    <section id="content">
        {% block content %}


        {% endblock %}
    </section>
 
</body>
</html>