{% extends 'base.html' %}

{% block title %}
   Listar  Empleado
{% endblock %}

{% block content %}
<!-- Abre una tabla HTML con encabezados de columna -->
<table>
    <thead>
        <tr>
            <!-- Define los encabezados de las columnas de la tabla -->
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>Dirección</th>
            <th>Departamento</th>
            <th>Municipio</th>
            <th>Barrio</th>
            <th>Tipo de Empleado</th>
            <th>Salario</th>
        </tr>
    </thead>
    <tbody>
        <!-- Comienza un bucle "for" que recorre la lista de empleados -->
        {% for empleado in empleados %}
        <tr>
            <!-- Dentro de cada iteración, muestra los datos del empleado en las celdas de la tabla -->
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellidos }}</td>
            <td>{{ empleado.cedula }}</td>
            <td>{{ empleado.direccion }}</td>
            
            <!-- Accede al nombre del departamento a través de la relación "departamento_rel" -->
            <td>{{ empleado.departamento_rel.nombre }}</td>
            
            <!-- Accede al nombre del municipio a través de la relación "municipio_rel" -->
            <td>{{ empleado.municipio_rel.nombre }}</td> 
            
            <td>{{ empleado.barrio }}</td>
            
            <!-- Accede al nombre del tipo de empleado a través de la relación "tipo_empleado_rel" -->
            <td>{{ empleado.tipo_empleado_rel.nombre }}</td> 
            
            <td>{{ empleado.salario }}</td>
        </tr>
        <!-- Cierra la iteración "for" -->
        {% endfor %}
    </tbody>
</table>


{% endblock %}
